node_modules/
dist/
/.idea
.vscode/
*.log

# Angular build / cache
.angular/
/.angular/
.angular/cache/

# OS files
.DS_Store

# IDEs
.idea/
.vscode/

# Logs and env
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
